header.header
  .container-md.header__wrap
    .logo#header-logo
      include logo.svg.pug
    nav.nav
      ul.nav__items
        li.nav__item
          a.btn-link(href="#") Home
        li.nav__item
          a.btn-link(href="#") Service
        li.nav__item
          a.btn-link(href="#") About us
        li.nav__item
          a.btn-link(href="#") Pricing table
        li.nav__item
          a.btn-link(href="#") How it work
        li.nav__item
          a.btn-link(href="#") Happy clients
        li.nav__item
          a.btn-link(href="#") Contact us


