svg.logo-circular(viewBox="25 25 50 50")
  circle.logo-circular-path-1(cx="50" cy="50" r="22")
  circle.logo-circular-path-2(cx="50" cy="50" r="16")
  circle.logo-circular-path-3(cx="50" cy="50" r="10")