main.main-section
  .container-md
    .main-section__head.txt--center.txt--white
      h1.h1.txt--900.txt--uppercase.main-section__title Boost up your local business
      h4.h4.txt--normal Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum typesetting
    form.main-section__form
      .main-section__input
        +input-icon('person', 'text', 'Full Name')
      .main-section__input
        +input-icon('email', 'email', 'Email Address')
      .main-section__input
        +input-icon('local_phone', 'text', 'Phone Number')
      .main-section__input
        input(type="submit" value="Reqeust a quote").btn.btn--lg.btn--orange
    .main-section__carousel
      .carousel
        img(src="../../assets/img/laptop.png" alt="")
