body {
  font-family: $common-font-family;
}

.container {
  &-md {
    @include containers(1140px);
  }
  &-lg {
    @include containers(1084px);
  }
}

.d-flex {
  display: flex;
}

.justify {
  &--space-between {
    justify-content: space-between;
  }
}

.align {
  &-items {
    &--center {
      align-items: center;
    }
  }
}

.btn-link {
  display: inline-block;
  color: $grey;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: $btn--br;
  transition: all $transtion-up;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.h {
  &1-lg {
    font-size: $font-size--h1-lg;
  }
  &1 {
    font-size: $font-size--h1;
  }
  &2 {
    font-size: $font-size--h2;
  }
  &4-lg {
    font-size: $font-size--h4-lg;
  }
  &4 {
    font-size: $font-size--h4;
  }
  &5 {
    font-size: $font-size--h5;
  }
  &6 {
    font-size: $font-size--h6;
  }
}

.txt {
  &-sm {
    font-size: $font-size--txt-sm;
  }
  &-xmd {
    font-size: $font-size--txt-xmd;
  }
  &-md {
    font-size: $font-size--txt-md;
  }
  &-lg {
    font-size: $font-size--txt-lg;
  }
  &-exlg {
    font-size: $font-size--txt-exlg;
  }
  // weight
  &--normal {
    font-weight: 400;
  }
  &--bold {
    font-weight: 700;
  }
  &--900 {
    font-weight: 900;
  }
  // transform
  &--uppercase {
    text-transform: uppercase;
  }
  &--capitalize {
    text-transform: capitalize;
  }
  // align
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
  // colors
  &--black {
    color: $black;
  }
  &--blue {
    color: $blue;
  }
  &--grey {
    color: $grey;
  }
  &--grey-2 {
    color: $grey-2;
  }
  &--grey-3 {
    color: $grey-3;
  }
  &--grey-4 {
    color: $grey-4;
  }
  &--grey-blue {
    color: $grey-blue;
  }
  &--grey-blue-2 {
    color: $grey-blue-2;
  }
  &--orange {
    color: $orange;
  }
  &--red-orange {
    color: $red-orange;
  }
  &--white {
    color: $white;
  }
}

// inputs
.input {
  position: relative;
  display: inline-block;
  max-width: 281px;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  &__icon {
    position: absolute;
    color: $grey-2;
    left: 12px;
  }
  &__box {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: $btn--br;
    outline: none;
    padding-left: 40px;
    font-size: 13px;
    font-weight: 400;
    color: $grey-2;
  }
  input::placeholder {
    color: $grey-2;
  }
}

// buttons
.btn {
  background-color: transparent;
  border: none;
  font-family: $common-font-family;
  font-size: $btn--font-size;
  text-transform: uppercase;
  width: 100%;
  border-radius: $btn--br;
  &--lg {
    padding: $btn--lg-p;
    height: $btn--lg-h;
  }
  &--orange {
    background-color: $orange;
    color: $white;
  }
}
