.header {
  background-color: $white;
  min-height: $header-min-height;
  &__wrap {
    min-height: $header-min-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
