.logo {
  height: 50px;
  width: 50px;
}

.logo-circular-path-1 {
  stroke-dasharray: 95, 300;
  fill: none;
  stroke-width: 3px;
  stroke: #12a8de;
  transform-origin: 100% 100%;
}

.logo-circular-path-2 {
  stroke-dasharray: 63, 300;
  fill: none;
  stroke-width: 3px;
  stroke: #9ac444;
  transform-origin: 100% 100%;
}

.logo-circular-path-3 {
  stroke-dasharray: 32, 300;
  fill: none;
  stroke-width: 3px;
  stroke: #ef7730;
  transform-origin: 100% 100%;
}
