.section-wrap {
  height: 100%;
}

.main-section {
  height: calc(100% - #{$header-min-height});
  background: linear-gradient(180deg, #709dca 90%, $white 10%);
  &__head {
    padding-top: 82px;
    padding-bottom: 19px;
  }
  &__title {
    padding-bottom: 16px;
  }
  &__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  &__input {
    width: calc(100% / 4);
    padding: 8px 5px;
    min-width: 281px;
  }
  &__carousel {
    margin-top: 67px;
    display: flex;
    justify-content: center;
  }
}
