.h {
  &1-lg {
    font-size: $font-size--h1-lg;
  }
  &1 {
    font-size: $font-size--h1;
  }
  &2 {
    font-size: $font-size--h2;
  }
  &4-lg {
    font-size: $font-size--h4-lg;
  }
  &4 {
    font-size: $font-size--h4;
  }
  &5 {
    font-size: $font-size--h5;
  }
  &6 {
    font-size: $font-size--h6;
  }
}

.txt {
  &-sm {
    font-size: $font-size--txt-sm;
  }
  &-xmd {
    font-size: $font-size--txt-xmd;
  }
  &-md {
    font-size: $font-size--txt-md;
  }
  &-lg {
    font-size: $font-size--txt-lg;
  }
  &-exlg {
    font-size: $font-size--txt-exlg;
  }
  // weight
  &--normal {
    font-weight: 400;
  }
  &--bold {
    font-weight: 700;
  }
  &--900 {
    font-weight: 900;
  }
  // transform
  &--uppercase {
    text-transform: uppercase;
  }
  &--capitalize {
    text-transform: capitalize;
  }
  // align
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
  // colors
  &--black {
    color: $black;
  }
  &--blue {
    color: $blue;
  }
  &--grey {
    color: $grey;
  }
  &--grey-2 {
    color: $grey-2;
  }
  &--grey-3 {
    color: $grey-3;
  }
  &--grey-4 {
    color: $grey-4;
  }
  &--grey-blue {
    color: $grey-blue;
  }
  &--grey-blue-2 {
    color: $grey-blue-2;
  }
  &--orange {
    color: $orange;
  }
  &--red-orange {
    color: $red-orange;
  }
  &--white {
    color: $white;
  }
}
