extends ../layouts/layout.pug
block vars
  -var title = 'Main page'
  -var description = 'This is main page'
block content
  include ../partials/full-prelaoder.pug
  include ../partials/header.pug
  include ../partials/index-sections/main-section.pug