mixin input-icon(iconName, typeInput, placeHoler, modifyClass = "")
  .input(class=modifyClass)
    label.material-icons.input__icon= iconName
    input.input__box(type=typeInput placeholder=placeHoler)